/* CSS declarations go here */
.task {
  border-radius: 5px;
  background-color:#e2e2e2;
  padding:5px;
  margin-bottom: 10px;
}

.task p {
  margin:0;
}

.tasks {
  padding-left:3px;
  padding-right:3px;
}

.task-col h2 {
  text-align: center;
}
